# Exclude a specific file
#config.js

# Exclude an entire folder and everything inside it
#node_modules/
#dist/
#build/

Day-11/bank-heist/
Day-11/devops-file.txt
Day-11/heist-project/
Day-11/project-config.yaml
Day-11/team-notes.txt


# Exclude all files with a specific extension (e.g., log files)
#*.log

# Exclude hidden environment variables / secrets
#.env
#.env.local
